<!DOCTYPE mapper PUBLIC "-//mybatis.org.DTO Mapper 3,0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.DishMapper">
    <update id="changeStatus">
        update dish
        set status = #{status}
        where id = #{id}
    </update>
    <update id="changeStatusForBatch">
        update dish
        set status = #{status}
        where id in
        <foreach collection="ids" item="idItem" separator="," open="(" close=")">
            #{idItem}
        </foreach>
    </update>
    <delete id="deleteBatches">
        delete
        from dish
        where id in
        <foreach collection="ids" item="idItem" separator="," open="(" close=")">
            #{idItem}
        </foreach>
    </delete>

    <select id="getTotal" resultType="java.lang.Integer">
        select count(1)
        from dish
        <where>
            <if test="name != null and name != ''">
                name like #{name}
            </if>
        </where>
    </select>

    <select id="selectByPage" resultType="Dish">
        select *
        from dish
        <where>
            <if test="name != null and name != ''">
                name like #{name}
            </if>
        </where>
        order by update_time desc
        limit #{page},#{pageSize}
    </select>
    <select id="getById" resultType="com.itheima.domain.Dish">
        select *
        from dish
        where id = #{id}
    </select>

    <select id="getStatusById" resultType="java.lang.Integer">
        select status
        from dish
        where id = #{id}
    </select>

    <select id="listDish" resultType="Dish">
        select *
        from dish
        where category_id = #{categoryId} and status = 1
        order by sort desc update_time
    </select>
</mapper>