<!DOCTYPE mapper PUBLIC "-//mybatis.org.DTO Mapper 3,0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrderDetailMapper">

    <select id="getOrderDetailByOrderId" resultType="OrderDetail">
        select *
        from order_detail
        where order_id = #{id}
    </select>
</mapper>