<!DOCTYPE mapper PUBLIC "-//mybatis.org.DTO Mapper 3,0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.SetmealDishMapper">

    <delete id="deleteSingleOrBatchById">
        delete
        from setmeal_dish
        where setmeal_id in
        <foreach collection="ids" item="idItem" separator="," open="(" close=")">
            #{idItem}
        </foreach>
    </delete>
</mapper>